.App {
  width: 100vw;
  height: 100vh;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}

body {
  background: #0b132b;
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.home-anomia-logo {
  font-size: 60px;
  color: white;
  text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
  text-decoration: none;
  margin: -20px 0px 0px 0px;
}

.joinChatContainer {
  background-color: #1c2541;
  border-radius: 6px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  color: rgb(5, 3, 3);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 220px;
  height: 50px;
  margin: 9px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: white;
  color: black;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background-color: rgb(232, 234, 245);
}
