.scoreboard {
  margin-top: -20px;
  width: 250px;
  height: 500px;
}

.scoreboard .scoreboard-header {
  height: 45px;
  border-radius: 6px 6px 0px 0px;
  background: #3a506b;
  position: relative;
  cursor: pointer;
}

.scoreboard .scoreboard-body {
  padding: 20px;
  height: 180px;
  border: 1px solid #263238;
  background: #fff;
}
.scoreboard .scoreboard-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.scoreboard .scoreboard-body .scoreboard-username {
  float: left;
  font-weight: bold;
}

.scoreboard .scoreboard-body .scoreboard-points {
  float: right;
}
